<label>Picture</label>   
<div  class="dropzone" id="dropzoneForm">
        <div class="fallback">
            <input name="file" type="file" multiple />
            <input type="submit" value="Upload" />
        </div>
    </div>


<style type="text/css">
    .dz-max-files-reached
    {
        background-color: red;
    }
</style>