@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <!-- content -->
    <div class="content " role="main">
            @Html.Action("Menu", "Common", new {area="Admin"})
  <div class="row">
     <div class="col-sm-12">
                <h6 class="foo">Tabs</h6>

                <!-- tabs -->
                <div class="tabs_framed styled">
                    <div class="inner">
                        <ul class="tabs clearfix active_bookmark1">
                            <li class="active"><a href="#events" data-toggle="tab">Category Info</a></li>
                            <li><a href="#reminders" data-toggle="tab"><sup class="note">5</sup>Reminders</a></li>
                            <li><a href="#starred" data-toggle="tab">Starred</a></li>
                            <li><a href="#archive" data-toggle="tab">Archive</a></li>
                            <li><a href="#archive" data-toggle="tab">Josh</a></li>
                        </ul>

                        <div class="tab-content clearfix">
                            <div class="tab-pane fade in active" id="events">
                                <div class="field_text">
                                    <label for="subject" class="label_title">Subject:</label>
                                    <input type="text" name="subject" id="subject" value="" placeholder="Wireframe" class="inputtext input_middle required" />
                                </div>
                                 <div class="field_text">
                                    <label for="subject" class="label_title">Subject:</label>
                                    <input type="text" name="subject" id="subject" value="" placeholder="Wireframe" class="inputtext input_middle required" />
                                </div>
                                 <div class="field_text">
                                    <label for="subject" class="label_title">Subject:</label>
                                    <input type="text" name="subject" id="subject" value="" placeholder="Wireframe" class="inputtext input_middle required" />
                                </div>
                                 <div class="field_text">
                                    <label for="subject" class="label_title">Subject:</label>
                                    <input type="text" name="subject" id="subject" value="" placeholder="Wireframe" class="inputtext input_middle required" />
                                </div>
                                 <div class="field_text">
                                    <label for="subject" class="label_title">Subject:</label>
                                    <input type="text" name="subject" id="subject" value="" placeholder="Wireframe" class="inputtext input_middle required" />
                                </div>
                                 <div class="field_text">
                                    <label for="subject" class="label_title">Subject:</label>
                                    <input type="text" name="subject" id="subject" value="" placeholder="Wireframe" class="inputtext input_middle required" />
                                </div>
                                 <div class="field_text">
                                    <label for="subject" class="label_title">Subject:</label>
                                    <input type="text" name="subject" id="subject" value="" placeholder="Wireframe" class="inputtext input_middle required" />
                                </div>
                                <div class="field_textupload">
                                 <div class="fileUpload btn btn-red">
                                    @* <img src="@Url.Content("~/Content/themes/Plumb/images/temp/tabimage6.png")" alt="" /> *@
                                     <span><i class="plus"></i>Upload Image</span>
                                    <input type="file"  id="upload"   class="upload" />
                                </div>
                               </div>
                            </div>

                            <div class="tab-pane fade" id="reminders">
                                <div class="tab_image"><img src="images/temp/tabimage6.png" alt="" /></div>
                                <h4>5 November</h4>
                                <p>He made his film debut with a mirror part in Black to the Future Part II</p>
                                <a href="#" class="see-more"><span>See more</span></a>
                            </div>
                            <div class="tab-pane fade" id="starred">
                                <div class="tab_image"><img src="images/temp/tabimage7.png" alt="" /></div>
                                <h4>11 October</h4>
                                <p>He made his film debut with a mirror part in Black to the Future Part II</p>
                                <a href="#" class="see-more"><span>See more</span></a>
                            </div>
                            <div class="tab-pane fade" id="archive">
                                <div class="tab_image"><img src="images/temp/tabimage5.png" alt="" /></div>
                                <h4>14 September</h4>
                                <p>He made his film debut with a mirror part in Black to the Future Part II</p>
                                <a href="#" class="see-more"><span>See more</span></a>
                            </div>
                             <div class="tab-pane fade" id="Jost">
                                <div class="tab_image"><img src="images/temp/tabimage5.png" alt="" /></div>
                                <h4>14 September</h4>
                                <p>He made his film debut with a mirror part in Black to the Future Part II</p>
                                <a href="#" class="see-more"><span>See more</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ tabs -->
            </div>
         </div>
        </div>
    </div>
 

    