@using ClientDependency.Core.Mvc
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    Html.RequiresCss("FileUpload/jquery.fileupload-ui.css", "Content",5);
    
    Html.RequiresJs("FileUpload/tmpl.min.js", "Content", 5);
    Html.RequiresJs("FileUpload/canvas-to-blob.min.js", "Content", 5);
    Html.RequiresJs("FileUpload/load-image.min.js", "Content", 5);
    Html.RequiresJs("FileUpload/jquery.iframe-transport.js", "Content", 10);
    Html.RequiresJs("FileUpload/jquery.fileupload.js", "Content", 10);
    Html.RequiresJs("FileUpload/jquery.fileupload-ip.js", "Content", 20);
    Html.RequiresJs("FileUpload/jquery.fileupload-ui.js", "Content", 30);

    Html.RequiresJs("FileUpload/locale.js", "Content", 90);
    Html.RequiresJs("FileUpload/main.js", "Content", 99);
    Html.RequiresJs("jquery-2.1.1.js", "jquery", 1);
    Html.RequiresJs("jquery-ui-1.8.20.js", "jquery", 2);
}
 @{var listItems = new List<SelectListItem>
                                        {
                                          new SelectListItem { Text = "Toyoto", Value = "0" },
                                          new SelectListItem { Text = "Honda", Value = "1" },
                                          new SelectListItem { Text = "Subaru", Value = "2" }
                                        };}
<div class="container">
    <!-- content -->
    <div class="content " role="main">
            @Html.Action("Menu", "Common", new {area="Admin"})
  <div class="row">
     <div class="col-sm-12">
                                  
                <!-- tabs -->
                <div class="tabs_framed styled">
                    <div class="inner">
                        <ul class="tabs clearfix active_bookmark1">
                            <li class="active"><a href="#events" data-toggle="tab">@*<sup class="note">5</sup>*@Category Info</a></li>
                            <li><a href="#reminders" data-toggle="tab">Seo Info</a></li>
                        </ul>
                        @using(Html.BeginForm())
                        {
                        <div class="tab-content clearfix">
                            <div class="tab-pane fade in active" id="events">
                                <div class="field_text">
                                    <label for="subject" class="label_title">Name:</label>
                                    <input type="text" name="cat_name" id="cat_name" value="" placeholder="Enter Category Name" class="inputtext input_middle required" />
                                </div>
                                 <div class="field_text">
                                    <label for="subject" class="label_title">Description:</label>
                                    <input type="text" name="cat_description" id="cat_description" value="" placeholder="Enter Description" class="inputtext input_middle required" />
                                </div>
                                 <div class="field_text">
                                    <label for="subject" class="label_title">Parent Category:</label>
                                    @Html.DropDownList("Test", new SelectList(listItems, "Value", "Text"), new {@class="select_styled select_styled_red" })
                                </div>
                                 <div class="field_text">
                                    <label for="subject" class="label_title">Alias:</label>
                                    <input type="text" name="cat_alias" id="cat_alias" value="" placeholder="Enter Alias" class="inputtext input_middle required" />
                                </div>
                                <div class="field_text">
                                </div>
                                
                                <div class="field_textupload">
                                  @*   <img src="@Url.Content("~/Content/themes/Plumb/images/default-image.jpg")" alt="" />
                                 <span class="fileUpload btn btn-red">
                                     <span><i class="plus"></i>Upload a file</span>
                                    <input type="file"  id="upload"   class="upload" />
                                </span>*@

                                @Html.Partial("Partial1")
                               </div>
                            </div>
                            <div class="tab-pane fade" id="reminders">
                           </div>
                        </div>
                             <a href="#" class="btn btn-round"><span>Save</span></a>  
                        }
                    </div>
                </div>
                <!--/ tabs -->
           
            </div>
         </div>
        </div>
    </div>
 @section scripts{
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td class="preview"><span class="fade"></span></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
            <td>
                <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
            </td>
            <td class="start">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                    <i class="icon-upload icon-white"></i>
                    <span>{%=locale.fileupload.start%}</span>
                </button>
            {% } %}</td>
        {% } else { %}
            <td colspan="2"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}
            <button class="btn btn-warning">
                <i class="icon-ban-circle icon-white"></i>
                <span>{%=locale.fileupload.cancel%}</span>
            </button>
        {% } %}</td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        {% if (file.error) { %}
            <td></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else { %}
            <td class="preview">{% if (file.thumbnail_url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
            {% } %}</td>
            <td class="name">
                <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
            </td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td colspan="2"></td>
        {% } %}
        <td class="delete">
            <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                <i class="icon-trash icon-white"></i>
                <span>{%=locale.fileupload.destroy%}</span>
            </button>
            <input type="checkbox" name="delete" value="1">
        </td>
    </tr>
{% } %}
</script>

    }


    