@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
 @{var listItems = new List<SelectListItem>
                                        {
                                          new SelectListItem { Text = "Toyoto", Value = "0" },
                                          new SelectListItem { Text = "Honda", Value = "1" },
                                          new SelectListItem { Text = "Subaru", Value = "2" }
                                        };}
<div class="container">
    <!-- content -->
    <div class="content " role="main">
            @Html.Action("Menu", "Common", new {area="Admin"})
  <div class="row">
     <div class="col-sm-12">
                <h6 class="foo">Tabs</h6>
                       <a href="#" class="btn btn-round"><span>Save</span></a>                
                <!-- tabs -->
                <div class="tabs_framed styled">
                    <div class="inner">
                        <ul class="tabs clearfix active_bookmark1">
                            <li class="active"><a href="#events" data-toggle="tab"><sup class="note">5</sup>Category Info</a></li>
                            <li><a href="#reminders" data-toggle="tab">Seo Info</a></li>
                        </ul>

                        <div class="tab-content clearfix">
                            <div class="tab-pane fade in active" id="events">
                                <div class="field_text">
                                    <label for="subject" class="label_title">Name:</label>
                                    <input type="text" name="cat_name" id="cat_name" value="" placeholder="Enter Category Name" class="inputtext input_middle required" />
                                </div>
                                 <div class="field_text">
                                    <label for="subject" class="label_title">Description:</label>
                                    <input type="text" name="cat_description" id="cat_description" value="" placeholder="Enter Description" class="inputtext input_middle required" />
                                </div>
                                 <div class="field_text">
                                    <label for="subject" class="label_title">Parent Category:</label>
                                    @Html.DropDownList("Test", new SelectList(listItems, "Value", "Text"), new {@class="select_styled select_styled_red" })
                                </div>
                                 <div class="field_text">
                                    <label for="subject" class="label_title">Alias:</label>
                                    <input type="text" name="cat_alias" id="cat_alias" value="" placeholder="Enter Alias" class="inputtext input_middle required" />
                                </div>
                                <div class="field_text">
                                </div>
                                
                                <div class="field_textupload">
                                @* <input id="uploadFile" placeholder="Choose File" disabled="disabled" />*@
                                     <img src="@Url.Content("~/Content/themes/Plumb/images/default-image.jpg")" alt="" />
                                 <span class="fileUpload btn btn-red">
                                     <span><i class="plus"></i>Upload a file</span>
                                    <input type="file"  id="upload"   class="upload" />
                                </span>
                               </div>
                            </div>
                            <div class="tab-pane fade" id="reminders">
                           </div>
                        </div>
                    </div>
                </div>
                <!--/ tabs -->
            </div>
         </div>
        </div>
    </div>
 

    