@using ClientDependency.Core.Mvc
@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";


    Html.RequiresCss("admin/font-awesome.css", "Content", 5);
    Html.RequiresCss("admin/ionicons.css", "Content", 5);

    Html.RequiresJs("jquery-2.1.1.js", "jquery", 1);
    Html.RequiresJs("jquery-ui-1.8.20.js", "jquery", 2);
    Html.RequiresJs("admin/app.js", "Content", 99);
    Html.RequiresJs("admin/dashboard.js", "Content", 99);
}
@using Telerik.Web.Mvc.UI
@using RepositoryPattern.Model.Catalog
@model IEnumerable<Category>

  @Html.Action("Menu", "Common", new {area="Admin"})

 <aside class="right-side">
  <section class="col-lg-12 connectedSortable">
  <div class="row">
     <div class="col-sm-10">
         <br />
            <div class=""> <a href="@Url.Action("Create")" class="btn btn-primary"><span>Add New Category</span></a>  </div>
         <br />
        <div id="clientsDb">
            @(Html.Telerik().Grid<Category>(Model)
                .Name("Category")
                .Columns(columns =>
                {
                    columns.Bound(c => c.Name).Width(190);
                    columns.Bound(c => c.Description).Width(190);
                    columns.Bound(c => c.Alias).Width(190);
                    columns.Bound(c => c.ID).Width(190);
                    columns.Bound(c => c.ID).Width(100).Template(c => Html.ActionLink("Edit Category", "Edit", new { Id = c.ID })).Title("");
                    columns.Bound(c => c.ID).Width(100).Template(c => Html.ActionLink("Delete", "Remove", new { categoryId = c.ID })).Title("");
                })
                .HtmlAttributes(new { style = "height: 270px;" })
                .Scrollable()
                //.Groupable()
                .Sortable()
                .Pageable()
            )
           </div>
         </div>
      </div>
  </section>
</aside>
    