@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@using Telerik.Web.Mvc.UI
@using RepositoryPattern.Model.Catalog
@model IEnumerable<Category>
<div class="container">
    <!-- content -->
    <div class="content " role="main">
            @Html.Action("Menu", "Common", new {area="Admin"})
  <div class="row">
     <div class="col-sm-12">
               <a href="@Url.Action("Create")" class="btn btn-round"><span>Add New Category</span></a> 
<div id="clientsDb">
    @(Html.Telerik().Grid<Category>(Model)
        .Name("Category")
        .Columns(columns =>
        {
            columns.Bound(c => c.Name).Width(190);
            columns.Bound(c => c.Description).Width(190);
            columns.Bound(c => c.Alias).Width(190);
            columns.Bound(c => c.ID).Width(190);
            columns.Bound(c => c.ID).Width(100).Template(c => Html.ActionLink("Edit Category", "Edit", new { Id = c.ID }));
                            
                                
        })
        .HtmlAttributes(new { style = "height: 270px;" })
        .Scrollable()
        //.Groupable()
        .Sortable()
        .Pageable()
       
    )
</div>
         </div>
      </div>
        </div>
    </div>