
@using (Html.BeginForm("LoginModal", "Account"))
{
  <div class="form-group">
    @Html.Label("Email Address")
    @Html.TextBox("username",null,new{@class="form-control",placeholder="Email Address"})
   
  </div>
  <div class="form-group">
    @Html.Label("Password")
    @Html.Password("password",null,new{@class="form-control",placeholder="Password"})
  </div>
   <div class="form-group">
      <input type="submit" value="Submit" class="btn btn-primary" />
   </div>

}