@using RepositoryPattern.Service.UI
@using RepositoryPattern.Model.Catalog;
@model IEnumerable<ProductCategory>
 @{var imgpath = "~/Images/WallImages/imagepath";
   var catInfo = Model.Select(x => x.Product).FirstOrDefault();
   Category cat = ViewBag.Category;
   }
<div class="row">
    
    <h1>@cat.Name</h1>
    <p>@cat.Description</p>
    <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
</div>
  <br>
@if (catInfo != null)
{
<div class="row">
   @Html.RenderTemplateAsColumns(Model.ToList(),"_productpartial",4) 
</div>
}
 