@using RepositoryPattern.Service.UI
@using RepositoryPattern.Model.Catalog;
@model IEnumerable<ProductCategory>
 @{var imgpath = "~/Images/WallImages/imagepath";
   var catInfo = Model.Select(x => x.Category).FirstOrDefault(); 
   }
<div class="row">
    
    <h1>@catInfo.Name</h1>
    <p>@catInfo.Description</p>
    <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
</div>
  <br>
<div class="row">
   @Html.RenderTemplateAsColumns(Model.ToList(),"_productpartial",3) 
</div>
 