@using RepositoryPattern.Service.UI
@using RepositoryPattern.Model.Catalog;
@model IEnumerable<ProductCategory>
 @{var imgpath = "~/Images/WallImages/imagepath";
   var catInfo = Model.Select(x => x.Product).FirstOrDefault();
   Category cat = ViewBag.Category;
   }
<div class="row">
    <div class="col-md-6">
        <div><h1>@cat.Name</h1></div>
        <div><h3>@cat.Description</h3></div>
    </div>
</div>
  <br>
@if (catInfo != null)
{
<div class="row">
   @Html.RenderTemplateAsColumns(Model.ToList(),"_productpartial",4) 
</div>
}
 