@model IEnumerable<RepositoryPattern.Model.Catalog.Category>
@{
    var mainmenu = Model.Where(x => x.ParentCategoryID == ViewBag.catId);
}

<div class="col-sm-2" id="msidebar">
        <div>
          <h5>Category</h5>
         
                  <ul class="nav navbar-nav" >
                      @if (Model != null)
                      {
                          foreach (var cat in mainmenu)
                          {
                             
                          <li><a href="@Url.Action("CategoryProduct", "Home", new { Id = cat.ID })">@cat.Name</a></li>
                          }

                     }
                      <li class="divider"></li>
                  </ul>
    
      </div>
    </div>