@model IEnumerable<RepositoryPattern.Model.Catalog.Category>
@{
    //var mainmenu = Model.Where(x => x.ParentCategoryID == ViewBag.catId);
    var mainmenu = Model.Where(x => x.ParentCategoryID == null);
    var submenu = Model.Where(x => x.ParentCategoryID != null);
    var subsubmenu = from p in submenu
                     group p by p.ParentCategoryID into g
                     where g.All(p => p.ParentCategoryID != p.ID)
                     select new { Category = g.Key, SubCategory = g };
}

<!--<div class="col-sm-2" id="msidebar">-->
<div class="col-sm-2 category-products">
     <h4 class="">Category</h4>
          <div class="single-nav">
                  <ul class="nav" >
                      @if (Model != null)
                      {
                          foreach (var cat in mainmenu)
                          {
                             
                          <li><a href="@Url.Action("CategoryProduct", "Home", new { Id = cat.ID })">@cat.Name</a></li>
                          }

                     }
                     @* <li class="divider"></li>*@
                  </ul>
      </div>
    </div>