<div class="col-sm-2" id="msidebar">
        <div>
          <h5>Side Menu</h5>
          <ul class="nav">
            <li><a>People</a></li>
            <li><a>Times</a></li>
            <li><a>Place</a></li>
          </ul>
      </div>
    </div>