@model IEnumerable<RepositoryPattern.Model.Catalog.Category>
<div class="col-sm-2" id="msidebar">
        <div>
          <h5>Category</h5>
          <ul class="nav">
          @if (Model != null)
            {
                foreach (var cat in Model)
                {
                <li><a href="@Url.Action("CategoryProduct","Home",new{Id = cat.ID})">@cat.Name</a></li>
                }
            }
            <li class="divider"></li>
          </ul>
      </div>
    </div>