<div class="col-sm-2" id="msidebar">
        <div>
          <h5>Side Menu</h5>
          <ul class="nav">
            <a><li>item</li></a>
            <a><li>item</li></a>
            <a><li>item</li></a>
            <a><li>item</li></a>
            <a><li>item</li></a>
            <a><li>item</li></a>
            <a><li>item</li></a>
            <a><li>item</li></a>
            <a><li>item</li></a>
            <a><li>item</li></a>
            <a><li>item</li></a>
            <a><li>item</li></a>
            <a><li>item</li></a>
            <a><li>item</li></a>
            <a><li>item</li></a>
            <a><li>item</li></a>
            <a><li>item</li></a>
          </ul>
      </div>
    </div>