@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Root.cshtml";
}

<div class="container">
 @Html.Action("Menu","Common")
</div>
<div class="container">
    <br>
    <div class="pagetitle">
    <h1>About Us</h1>
    </div>
  </div>
  <br>
  <div class="container">
    <br>
    <hr>
    <div class="row">
      <div class="col-lg-6">
        <img id="slogo"src="@Url.Content("/Content/themes/Plumb/img/logo-small.png")">
        <br>
        <br>
        <div id="abouttext">
    <p><strong>Bob Garrecht Supply</strong>, a wholesale plumbing parts company, has been doing business in New Mexico since 1971. Originally a plumber, Bob Garrecht began selling parts out of his basement, making deliveries in VW. He then had a crew traveling the state with parts in step vans. Today Bob Garrecht Supply clients include federal, state and local government agencies, as well as well as institutional and commercial organizations. With a 10,000-square-foot warehouse in Albuquerque, the company serves the and surrounding region with outside sales consultants, inside sales consultants, and a wide selection of commercial carriers for the shipping and delivery of parts.</p>
  </div>
      </div>
      <div class="col-lg-6">
        <h1>Working With Bob Garrecht Supply Pays Off</h1>
        <br>
        <p>If you do business with, our sales consultant will become familiar with your systems, equipment and people.<br>
          <br>
        By knowing your requirements, and combining that with their wide range of plumbing knowledge, they help you.</p>
        <br>
        <u>
            <li>Stock Inventory at the appropriate levels</li>
            <li>Solve plumbing dilemmas</li>
            <li>Keep up with the latest plumbing developments</li>
            <li>Offer cost-saving solutions</li>
            <li>Source unusual and dated parts</li>
          </u>
      </div>
    </div>
    		<img id="mdimg"  src="@Url.Content("~/Images/WallImages/imagepath/plumbing-supply.png")" />
    		
    <div class="container" id"aboutbtext">
    <h1>People Make Our Parts More Powerful</h1>

	<p>At Bob Garrett Supply, you don’t just get parts; you get the power of people who have extensive knowledge of plumbing. Our years of experience mean we know plimbing parts inside and out. You can order parts from any catalog, but what you can’t get is the personal service, experience and know-how we have at Bob Garrecht Supply.</p>  
    </div>
  </div>
  
