@{
    ViewBag.Title = "CategoryProduct";
    Layout = "~/Views/Shared/_Root.cshtml";
}

<div class="container">
 @Html.Action("Menu","Common")
     <div class="row">
    </div>
    @Html.Action("DisplayCategoryProduct", "Common")
  </div>
