@{
    Layout = "~/Views/Shared/_Root.cshtml";
    ViewBag.Title = "Index";
    var s = 0;
}

<div class="container">
 @Html.Action("Menu","Common")
 @Html.Action("Slider", "Common")
 @Html.Action("DisplayFeatureProduct","Common")
 @Html.Action("DisplayTopProductRequested","Common")
</div>

