
@using RepositoryPattern.Model.Catalog;
@model Category
 @{ var imgpath = "~/Images/WallImages/imagepath";
    }
     
         <div class="col-sm-12">
             <div class=""><a href="@Url.Action("CategoryProduct","Home",new{Id= Model.ID})">
             <img class="small-thumbnail" src="@Url.Content(imgpath + "/pro-test.png")" /></a></div>
             <div><h5> <label class="nlabel">  @Model.Name</label></h5></div>
                 
                <div> <p class="dlabel">@Model.Description</p></div>
                <br>
                <br>
         </div>
     
   