@using RepositoryPattern.Model.Catalog;
@model ProductCategory
 @{ var imgpath = "~/Images/WallImages/imagepath";
    int leng = Model.Product.Name.Count();
    }
     
         <div class="col-sm-12">
             <div class=""><a href="@Url.Action("Product","Home",new{prd= Model.Product.ID})">
             <img class="small-thumbnail" style="height:auto; width:auto; max-width:170px; max-height:200px;" 
                 src="@Url.Content(imgpath + "/"+Model.Picture.FilePath)" /></a></div>
             <div><h5> <label class="nlabel">  @Model.Product.Name.Substring(0,leng)</label></h5></div>
                 
                <div> <p class="dlabel">@Model.Product.ShortDescription</p></div>
         </div>