@{var csspart = "~/Content/themes/Plumb"} 
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
      <div class="collapse navbar-collapse">
         <ul class="nav navbar-nav navbar-right">
              <li><a href="about us.html">About Us</a></li>
              <li><a href="contact us.html">Contact Us</a></li>
              <li><a href="#">My List</a></li>
              <li class="last" data-toggle="modal" data-target="#myModal"><a href="#">Sign In</a></li>
        </ul>
      </div>
    </div>
  </div>

<div class="row">
  <div class="container">
    <div class="logo col-lg-4">
      <img src="@Url.Content(csspart + "/img/plumbing-parts-albuquerque-new-mexico.png")"alt="Plumbing Parts albuquerque New Mexico">
    </div>
    <div class="help-container col-md-4 pull-right">
      <h3>Need Help? Call <strong><a href="tel:5058840133">(505) 884-0133</a></strong></h3>
      <p>(Mon-Fri 7am-5pm)</p>
    </div>
    </div>
  </div>