@using ClientDependency.Core.Mvc
@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    Html.RequiresCss("FileUpload/jquery.fileupload-ui.css", "Content", 5);
    Html.RequiresCss("admin/font-awesome.css", "Content", 5);
    Html.RequiresCss("admin/ionicons.css", "Content", 5);

    Html.RequiresJs("jquery-2.1.1.js", "jquery", 1);
    Html.RequiresJs("jquery-ui-1.8.20.js", "jquery", 2);
    Html.RequiresJs("admin/app.js", "Content", 99);
    Html.RequiresJs("admin/dashboard.js", "Content", 99);
}

@using Telerik.Web.Mvc.UI
@using RepositoryPattern.Model.Catalog
@model IEnumerable<Product>

  @Html.Action("Menu", "Common", new {area="Admin"})
<aside class="right-side">
  <section class="col-lg-12 connectedSortable">
  <div class="row">
     <div class="col-sm-10">
         <br />
            <div class=""> <a href="@Url.Action("Create")" class="btn btn-primary"><span>Add New Product</span></a>  </div>
         <br />
        <div id="clientsDb">
            @(Html.Telerik().Grid<Product>(Model)
                .Name("Product")
                .Columns(columns =>
                {
                    columns.Bound(p => p.Name).Width(190);
                    columns.Bound(p => p.Description).Width(190);
                    columns.Bound(p => p.Price).Width(190);
                    columns.Bound(p => p.ID).Width(190);
                    columns.Bound(p => p.ID).Width(100).Template(p => Html.ActionLink("Edit", "Edit", new { Id = p.ID })).Title("");
                    columns.Bound(p => p.ID).Width(100).Template(p => Html.ActionLink("Delete", "Delete", new { Id = p.ID })).Title("");
                })
                .HtmlAttributes(new { style = "height: 270px;" })
                .Scrollable()
                //.Groupable()
                .Sortable()
                .Pageable()
            )
           </div>
         </div>
      </div>
  </section>
</aside>