@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <!-- content -->
    <div class="content " role="main">
@Html.Action("Menu", "Common", new {area="Admin"})
        </div>
    </div>
