


<div class="container">
    <!-- content -->
    <div class="content " role="main">

        <!-- row -->
        <div class="row">
            <div class="col-sm-12">
                <h6 class="foo">Website Menu with dropdown submenu</h6>

                <!-- Website Menu -->
                <div class="dropdown-wrap">
                    <ul class="dropdown clearfix">
                        <li class="menu-level-0"><a href="#"><span>Home</span></a></li>
                        <li class="menu-level-0"><a href="#"><span>About</span></a>
                            <ul class="submenu-1">
                                <li class="menu-level-1"><a href="#">Privacy Policy</a></li>
                                <li class="menu-level-1"><a href="#">Copyright</a></li>
                                <li class="menu-level-1"><a href="#">Terms of Service</a>
                                    <ul class="submenu-2">
                                        <li class="menu-level-2"><a href="#">Gallery images</a></li>
                                        <li class="menu-level-2"><a href="#">OneByOne Slider</a></li>
                                        <li class="menu-level-2"><a href="#">Video in header</a></li>
                                        <li class="menu-level-2"><a href="#">Image &amp; Video Slider</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-level-0"><a href="#"><span>Blog</span></a></li>
                        <li class="menu-level-0"><a href="#"><span>Team</span></a></li>
                        <li class="menu-level-0"><a href="#"><span>Portfolio</span></a></li>
                        <li class="menu-level-0"><a href="#"><span>Services</span></a>
                            <ul class="submenu-1">
                                <li class="menu-level-1"><a href="#">Privacy Policy</a></li>
                                <li class="menu-level-1"><a href="#">Copyright</a></li>
                                <li class="menu-level-1"><a href="#">Terms of Service</a>
                                    <ul class="submenu-2">
                                        <li class="menu-level-2"><a href="#">Gallery images</a></li>
                                        <li class="menu-level-2"><a href="#">OneByOne Slider</a></li>
                                        <li class="menu-level-2"><a href="#">Video in header</a></li>
                                        <li class="menu-level-2"><a href="#">Image &amp; Video Slider</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-level-0"><a href="#"><span>Contact</span></a></li>
                        <li class="menu-level-0"><a href="#"><span>Shopp</span></a>
                            <ul class="submenu-1">
                                <li class="menu-level-1"><a href="#">Privacy Policy</a></li>
                                <li class="menu-level-1"><a href="#">Copyright</a></li>
                                <li class="menu-level-1"><a href="#">Terms of Service</a>
                            </ul>
                        </li>
                        <li class="menu-level-0"><a href="#"><span>Sport</span></a></li>
                    </ul>
                </div>
                <!--/ Website Menu -->
            </div>
        </div>
        <!--/ row -->
        </div>
    </div>