

        <!-- row -->
        <div class="row">
            <div class="col-sm-12">
                <h6 class="foo">Website Menu with dropdown submenu</h6>

                <!-- Website Menu -->
                <div class="dropdown-wrap">
                    <ul class="dropdown clearfix">
                        <li class="menu-level-0"><a href="#"><span>Dashboard</span></a></li>
                        <li class="menu-level-0"><a href="#"><span>Catalog</span></a>
                            <ul class="submenu-1">
                                <li class="menu-level-1"><a>CATEGORIES</a></li>
                                <li class="menu-level-1"><a href="#">List</a></li> 
                                <li class="menu-level-1"><a>PRODUCT</a></li>
                                <li class="menu-level-1"><a href="#">Manage Products</a></li>
                                <li class="menu-level-1"><a href="#">Bulk Edit Product</a></li>
                            </ul>
                        </li>
                        <li class="menu-level-0"><a href="#"><span>Sales</span></a>
                            <ul class="submenu-1">
                                <li class="menu-level-1"><a href="#">Privacy Policy</a></li>
                                <li class="menu-level-1"><a href="#">Copyright</a></li>
                                <li class="menu-level-1"><a href="#">Terms of Service</a>
                                    <ul class="submenu-2">
                                        <li class="menu-level-2"><a href="#">Gallery images</a></li>
                                        <li class="menu-level-2"><a href="#">OneByOne Slider</a></li>
                                        <li class="menu-level-2"><a href="#">Video in header</a></li>
                                        <li class="menu-level-2"><a href="#">Image &amp; Video Slider</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-level-0"><a href="#"><span>Customers</span></a></li>
                    </ul>
                </div>
                <!--/ Website Menu -->
            </div>
        </div>
        <!--/ row -->
    