

        <!-- row -->
        <div class="row">
            <div class="col-sm-12">
                <h6 class="foo">Website Menu with dropdown submenu</h6>

                <!-- Website Menu -->
                <div class="dropdown-wrap">
                    <ul class="dropdown clearfix">
                        <li class="menu-level-0"><a href="#"><span>Dashboard</span></a></li>
                        <li class="menu-level-0"><a href="#"><span>Catalog</span></a>
                            <ul class="submenu-1">
                                <li class="menu-level-1"><a>CATEGORIES</a></li>
                                <li class="menu-level-1"><a href="@Url.Action("List","Category",new {area="Admin"})">List</a></li> 
                                <li class="menu-level-1"><a>PRODUCT</a></li>
                                <li class="menu-level-1"><a href="#">Manage Products</a></li>
                                <li class="menu-level-1"><a href="#">Bulk Edit Product</a></li>
                            </ul>
                        </li>
                        <li class="menu-level-0"><a href="#"><span>Sales</span></a>
                            <ul class="submenu-1">
                                <li class="menu-level-1"><a href="#">Orders</a></li>
                                <li class="menu-level-1"><a href="#">Current WishList</a></li>
                            </ul>
                        </li>
                        <li class="menu-level-0"><a href="#"><span>Customers</span></a>
                             <ul class="submenu-1">
                                <li class="menu-level-1"><a href="#">Customers</a></li>
                                <li class="menu-level-1"><a href="#">Customers Roles</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--/ Website Menu -->
            </div>
        </div>
        <!--/ row -->
    