<table>
    <thead>
        <tr>
            <th>Product Name</th><th>Image</th><th>Quantity</th><th>Variation</th>
        </tr>
    </thead>
    <tbody>
        <tr></tr><tr></tr><tr></tr><tr></tr>
    </tbody>
</table>